/* HeroesComponent's private CSS styles */
.bids {
    margin: 0 0 0 0;
    list-style-type: none;
    padding: 0;
    width: 25em;
  }
  .bids li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 2.6em;
    width: 220em;
    border-radius: 4px;
    
  }
  .bids li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .bids li.selected {
    background-color: #CFD8DC;
    color: white;
  }
  .bids li.selected:hover {
    background-color: #BBD8DC;
    color: white;

  }
  .bids .badge {
    display: inline-block;
    font-size: medium;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 2.0em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
    margin-top: 20;
  }
  
  .bids .badge:hover {   
    font-size: large;
    font-stretch: wider;
  }

  .bids .desc {
    display: inline-block;
    font-size: medium;
    color: black;
    vertical-align: middle;  
    width: 100%;
    margin-left: 10px;
    margin-top: 5px;    
  
  }

  