<h1 style="text-align: center;">Jackpot</h1>
<app-jackpot-details [jackpot]="jackpot"></app-jackpot-details>

<mat-grid-list cols="3" style="width: 90%;">
    
    
    <mat-grid-tile>
        <div>
    
            <h2 style="text-align: center;">Maiores prêmios:</h2>
        <ul class="jackpots">
        <li *ngFor="let jack of getFilteredJackpots(1)" (click)="onSelect(jack)" [class.selected] = "jack === jackpot">      

           
           <div style="display: table;">

            <span class="badge" style="display: table-cell; vertical-align: middle; width: 30%;">
                <span style="display: block; text-align: center;">{{jack.lottery.name | uppercase}}</span>
                
                <span>{{jack.estimate/100 | currency:'BRL'}}</span>
                
            </span>
   
            <span class="desc">
            <span style="display: block;width: 50%; text-align: center; font-size: large;">{{jack.date | date:'dd/MM/yyyy'}}</span>
            <span style="margin-bottom: 5px;">Concorra com {{jack.description}}</span>
                
            </span>
    
        </div>           

        </li>
        </ul>
        </div>
    </mat-grid-tile>


    <mat-grid-tile>
        <div>
    
            <h2 style="text-align: center;">Menores prêmios:</h2>
        <ul class="jackpots">
        <li *ngFor="let jack of getFilteredJackpots(2)" (click)="onSelect(jack)" [class.selected] = "jack === jackpot">      

           
           <div style="display: table;">

            <span class="badge" style="display: table-cell; vertical-align: middle; width: 30%;">
                <span style="display: block; text-align: center;">{{jack.lottery.name | uppercase}}</span>
                
                <span>{{jack.estimate/100 | currency:'BRL'}}</span>
                
            </span>
   
            <span class="desc">
            <span style="display: block;width: 50%; text-align: center; font-size: large;">{{jack.date | date:'dd/MM/yyyy'}}</span>
            <span style="margin-bottom: 5px;">Concorra com {{jack.description}}</span>
                
            </span>
    
        </div>           

        </li>
        </ul>
        </div>
    </mat-grid-tile>


    <mat-grid-tile>
        <div>
    
            <h2 style="text-align: center;">Menores prêmios:</h2>
        <ul class="jackpots">
        <li *ngFor="let jack of getFilteredJackpots(2)" (click)="onSelect(jack)" [class.selected] = "jack === jackpot">      

           
           <div style="display: table;">

            <span class="badge" style="display: table-cell; vertical-align: middle; width: 30%;">
                <span style="display: block; text-align: center;">{{jack.lottery.name | uppercase}}</span>
                
                <span>{{jack.estimate/100 | currency:'BRL'}}</span>
                
            </span>
   
            <span class="desc">
            <span style="display: block;width: 50%; text-align: center; font-size: large;">{{jack.date | date:'dd/MM/yyyy'}}</span>
            <span style="margin-bottom: 5px;">Concorra com {{jack.description}}</span>
                
            </span>
    
        </div>           

        </li>
        </ul>
        </div>
    </mat-grid-tile>



    
</mat-grid-list>
