

<div class="content">            
  
  <div>
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        
          <div class="login_container">
            <h2 style="text-align: center; margin-top: 0.3em; color: #d9d9d9; font-size: x-large;" >Login</h2>
            <hr>
            <mat-form-field  appearance="outline">
              <mat-label>E-mail</mat-label>
              <input matInput placeholder="pat@example.com"  formControlName="email"   required >          
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Senha</mat-label>
                <input type="password" matInput placeholder="***"  formControlName="password"  required>          
            </mat-form-field>
            <br>
            <div style="width: 100%; display: flex; justify-content: center;">
              <mat-error *ngIf="failed" style=" border-radius: 25px; width: 90%; font-size: large; color: #d9d9d9; background-color: rgba(255,0,0,1);">E-mail e senha não conferem</mat-error>
            </div>
            <br>
            <button type="submit" mat-raised-button [disabled]="!profileForm.valid" color="primary">OK</button>
            <div style="display: flex;">
              <span style="width: 48%;  text-align: left;"><a style="margin-left: 10px;" [routerLink]="['/customer']">Esqueceu a senha</a></span>
              <span style="width: 48%; text-align: right;"><a [routerLink]="['/customer']">Registre-se</a></span>
            </div>
          </div>
      
      </form>
    </div>
</div>