<div class="content">               
    
  <h2 style="margin-top: 5px; text-align: center; color: #d9d9d9; font-size: x-large;">Registrar</h2>
  <hr>

    <div  style="background-color:rgba(255, 160, 0, 0.4); height: 100%;">
      <mat-vertical-stepper [linear]="true" #stepper  style="background-color:rgba(0, 0, 0, 0);">
         
        
        <mat-step [stepControl]="firstFormGroup" >         

          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel color="primary"><span style="color: whitesmoke; font-size: large;">Qual o seu nome?</span></ng-template>
            <mat-form-field appearance="outline">
              <mat-label>Nome</mat-label>
              <input matInput placeholder="Sobrenome, Nome" formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
              <button mat-raised-button color="primary" matStepperNext>Avançar</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel><span style="color: whitesmoke; font-size: large;">Qual o seu email?</span></ng-template>
            <mat-form-field appearance="outline">
              <mat-label>E-mail</mat-label>
              <input matInput formControlName="secondCtrl" placeholder="Ex. jose@gmail.com"
                     required>
            </mat-form-field>
            <div>
              <button mat-raised-button color="accent" matStepperPrevious>Voltar</button>
              <span style="margin-left: 1em;"></span>
              <button mat-raised-button color="primary" matStepperNext>Avançar</button>
            </div>
                        

            <div style="margin-top: 10px;; border-radius: 25px; padding: 10px; width: 95%; font-size: large; color: white; background-color: rgba(230,0,0,0.8);" 
            *ngIf="secondFormGroup.get('secondCtrl').errors && secondFormGroup.get('secondCtrl').errors.alreadyEmail">              
             <p>Esse e-mail ja se encontra em nossos registros!</p> <p>Caso tenha esquecido a senha, podemos lhe enviar um email de recuperação.</p>
             <span style="width: 100%;display: flex; justify-content: center;">
              <a style="color:white;" [routerLink]="['/resent']">Reenviar e-mail</a>
            </span>
            </div>

            <div style="margin-top: 10px;; border-radius: 25px; padding: 10px; width: 95%; font-size: large; color: white; background-color: rgba(230,0,0,0.8);" 
            *ngIf="secondFormGroup.get('secondCtrl').errors && secondFormGroup.get('secondCtrl').errors.inactivatedEmail">              
             <p>Esse e-mail ja se encontra em nossos registros, mas não esta ativado!</p> <p>Por favor, acesse sua conta de e-mail e siga as intruções de ativação.</p>
             <span style="width: 100%;display: flex; justify-content: center;">
              <a style="color:white;" [routerLink]="['/resent']">Reenviar e-mail</a>
            </span>
            </div>


          </form>
        </mat-step>
        <mat-step>
          
          <ng-template matStepLabel><span style="color: whitesmoke; font-size: large;">Concluído</span></ng-template>
          <div style="border-radius: 25px; padding: 10px; width: 95%; font-size: large; color: white; background-color: rgba(0,0,230,0.8);">
            <p>Obrigado por se registrar.<p>
            <p>Um e-mail foi enviado para você ativar a sua conta.</p>         
          </div>
        </mat-step>
      </mat-vertical-stepper>
      
    </div>
</div>
